header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 300px;
    min-width: 85vw;
    width: 100%;
    margin-bottom: 3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    & h1{
        font-size: 2.5em;
        font-weight: 700;
        color: #FFF;
        text-shadow: 0 0 10px rgba(0,0,0,1);
    }
    & button{
        background-color: #FFF;
        color: #000;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        & a{
            text-decoration: none;
            color: #000;
        }
    }
}

